name: Kernel Build

on:
  workflow_dispatch:
  push:
#  schedule:
#    - cron: '30 5 * * 1'

jobs:

  call-build:
    #strategy:
    #  matrix:
    #    branch: 'linux-msft-wsl-6.6.y'
    uses: ./.github/workflows/build.yml@main
    #with:
    #  branch: ${{ matrix.branch }}
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
